/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #604dff;
  --main-color-dark: #3651d4;
  --main-color-light: #5872f5;
  --text-color: #cfcde7;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

html {
  scroll-padding-top: 120px;
  scroll-behavior: auto !important;
}
code {
  background: #eeeeee;
  color: #000;
  padding: 20px 40px;
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  font-weight: 600;
  border-left: 3px solid rgb(72 0 235);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color-light);
  border-radius: 20px;
}
a {
  text-decoration: none;
}

hr {
  border-color: #f2f2f2;
  opacity: 1;
  border-width: 2px;
}

b {
  color: #383838;
}

ul {
  list-style: none;
}

.list-section ul {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh);
  background-color: #fff;
  width: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;

  transition: 0.5s all ease-in-out;
  float: left;
  margin: 0;
  overflow: hidden;
  border-right: 2px solid #f2f2f2;
  z-index: 99;
}
.home-header {
  margin-bottom: 30px;
}
.nav-link {
  transition: none;
}
.header {
  height: 102px;
  background-color: #ffffffe0;
  border-bottom: 2px solid #f2f2f2;

  position: fixed;
  top: 0;
  z-index: 98;
  width: 100%;
  padding-left: 300px;
}

.sidebar-heading {
  color: #b3b3b3 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}

.brand-logo a {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  padding: 20px 20px;
  color: #1f2027;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: calc(100% - 300px);
  margin: 110px 0px 0 0;
  margin-left: auto;
}

.main-inner {
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}

main .copyright {
  margin-top: auto;
  font-size: 0.9rem;
}

main .copyright span {
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f2f2f2;
}

.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
  transition: 0.5s all ease-in-out;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links {
  padding: 0 15px 10px 15px;
  height: calc(100vh - 122px);
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  margin-right: 10px;
}
.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}
.sidebar-links::-webkit-scrollbar {
  width: 5px;
}
.sidebar-links::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 20px;
}
.sidebar-links {
  list-style: none;
  padding-right: 0.5rem;
}
.sidebar-links {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.sidebar-links ul {
  position: relative;
  padding: 0;
  margin-right: 15px;
  width: 100%;
  border: none;
}
.content-tabs-sidebar ul {
  display: block;
}
.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}
.sidebar-links li a {
  border-radius: 10px !important;
}
.sidebar-links li.active a {
  background: linear-gradient(
    90deg,
    rgba(96, 77, 255, 1) 0%,
    rgba(57, 35, 241, 1) 100%
  );
  box-shadow: 0px 10px 18px -12px #aca3ff;
  color: #fff !important;
}
.sidebar-links li.nav-item.active {
  color: #fff;
}
.sidebar-links a {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 53px;
  padding: 0 30px;
  text-transform: capitalize;
}
.sidebar-links a:hover {
  color: #604dff;
}
.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}
.sidebar-links a.active i:first-child {
  opacity: 0;
}
.sidebar-links a.active i:last-child {
  opacity: 1;
}
.brand-logo {
  width: 100%;
  max-width: 200px;
}
.brand-logo img {
  width: 100%;
  max-width: 200px;
}

.active-tab {
  width: 100%;
  height: 53px;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(96, 77, 255, 1) 0%,
    rgba(57, 35, 241, 1) 100%
  );
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0px 10px 18px -12px #aca3ff;
}
.blog-section {
  margin-bottom: 40px;
  border-bottom: 1px dashed #dfdfdf;
  padding-bottom: 30px;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 22px;
  position: relative;
  text-transform: capitalize;
}

.section-title:before {
  content: "";
  background: #442ff5;
  display: inline-block;
  width: 6px;
  height: 24px;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: -15px;
  border-radius: 30px;
}

.lead {
  font-size: 16px;
  margin-bottom: 4px;
  color: #999999;
  font-weight: 400;
}

.page-head {
  padding: 11px 30px;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  height: 100px;
  justify-content: center;
}

.page-head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(31px);
  overflow: hidden;
}

.page-head-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-name h1 {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

.product-name {
  color: #000;
}

.content-tabs .nav-tabs {
  border: none;
  background: #4833f60d;
  padding: 12px 15px;
  border-radius: 10px;
}

.nav-item .nav-link {
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  padding: 15px 20px !important;
  color: #000;
}


.nav-item .nav-link.current {
  background: linear-gradient(
    90deg,
    rgba(96, 77, 255, 1) 0%,
    rgba(57, 35, 241, 1) 100%
  );
  box-shadow: 0px 10px 18px -12px #aca3ff;
  color: #fff;
  border-radius: 10px;
}
.site-logo {
  width: 100%;
  max-width: 180px;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: var(--animation-timing-function);
  animation-timing-function: var(--animation-timing-function);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

.animations-disabled,
.animations-disabled [data-animation] {
  -webkit-animation: none !important;
  animation: none !important;
  opacity: 1 !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInleft;
  animation-name: slideInleft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
  animation-name: zoomReverseIn;
}

.flipInY {
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.flipOutY {
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  animation-direction: reverse;
}





.mask {
  transition: 0.3s all ease-in-out;
  height: 80px;
  width: 80px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.chatter-img {
  background: #0e0e0e;
}

.dimdim-img {
  background: linear-gradient(180deg, #ffed71 0%, #ffc700 100%);
}

.thumbsup-img {
  background: #000000;
}

.inline-space > :not([hidden]) {
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}

.w-24 {
  width: 6rem;
}

.h-24 {
  height: 6rem;
}


.life-link svg {
  --stroke: #15663f;
}

.life-link:hover svg {
  --stroke: #15663f;
}

.orange-link svg {
  --stroke: #fe2b10;
}

.orange-link:hover svg {
  --stroke: #fe2b10;
}

.chatter-link svg {
  --stroke: #58df86;
}
.chatter-link:hover svg {
  --stroke: #58df86;
}
.thomas-link span svg {
  width: 110px;
  height: 60px;
  bottom: -6px;
  --stroke: #070811;
  stroke-width: 1px;
}
.thomas-link:hover svg {
  --stroke: #070811;
}

.cutfx-link span svg {
  --stroke: #3f6577;
}

.cutfx-link:hover svg {
  --stroke: #3f6577;
}

.shortzz-link svg {
  --stroke: #9706ff;
}

.shortzz-link:hover svg {
  --stroke: #9706ff;
}

.area {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(103 86 255 / 18%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.list-section ul li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #402af3;
  position: absolute;
  top: 9px;
  transform: translateX(-18px);
  border-radius: 5px;
}

.list-section ul li {
  position: relative;
  padding-left: 20px;
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.sub-inner-main {
  padding-left: 40px;
  margin-bottom: 30px;
}

.sub-sub-inner-main {
  padding-left: 40px;
  margin-bottom: 30px;
}

.sub-inner-main ul {
  margin: 20px 0;
}

.image-space {
  margin-bottom: 20px;
}

.blog-section img.img-fluid {
  box-shadow: 0px 1px 10px #e9e9e9;
}

.blog-section a,
.lead a {
  color: #3923f1 !important;
  font-weight: 500;
}
.blog-title {
  font-weight: 700;
  margin-bottom: 40px;
}

.menu-bar {
  position: absolute;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  right: 25px;
  display: none;
}

.menu-bar-icon {
  position: relative;
  width: 22px;
  height: 14px;
  cursor: pointer;
}

.menu-bar-icon span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;

  background: #442ff5;
}
.menu-bar-icon span.middle-line {
  top: 6px;
}
.menu-bar-icon span.last-line {
  top: 12px;
}

.nav-open span.first-line,
.nav-open span.last-line {
  top: 8px;
}
.nav-open span.first-line {
  transform: rotate(45deg);
}
.nav-open span:last-child {
  transform: rotate(-45deg);
}
.nav-open span.middle-line {
  opacity: 0;
  visibility: hidden;
}
.sidenav-menubar {
  top: 47px;
  left: 320px;
}
.sidenav-menubar .menu-bar-icon span {
  background-color: #fff;
}

.contact-blog-inner ul {
  padding: 0;
  margin: 30px 0;
}
.contact-blog {
  background: #f6f5ff;
  padding: 70px 60px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 18px -12px #e1deff;
  border: none;
}
.contact-blog-inner ul li {
  padding: 0 0 20px;
}
.contact-blog-inner ul li:last-of-type {
  padding: 0;
}
.contact-blog-inner ul li svg {
  margin-right: 10px;
  width: 20px;
}
.blog-1 {
  position: absolute;
  width: 720px;
  height: 150%;
  background: linear-gradient(
    90deg,
    rgba(96, 77, 255, 1) 0%,
    rgba(57, 35, 241, 1) 100%
  );
  right: 0;
  top: auto;
  bottom: 20px;
  transform: rotate(-45deg) translateY(240px);
}
.list-section ol li::marker {
  unicode-bidi: normal !important;
}
.list-section ol li {
  padding-left: 3px;
}
.list-section ol li::before {
  display: none;
}
.content-tabs-sidebar {
  display: none;
}


.copy-button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  border: none;
}
.tip {
  background-color: var(--main-color);
  padding: 0 14px;
  line-height: 27px;
  position: absolute;
  border-radius: 4px;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  animation-name: tip;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
.tip:before {
  content: "";
  background-color: var(--main-color);
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  top: 22px;
  left: 50%;
}
#copied_tip {
  animation-name: come_and_leave;
  animation-duration: 1s;
  animation-fill-mode: both;
  top: -32px;
  left: -27px;
}
.copy-button svg {
  width: 100%;
  max-width: 20px;
}
.clipboard-checked {
  display: none;
}
.copy-button.active .clipboard-checked {
  display: block;
}
.copy-button.active .only-clipboard {
  display: none;
}
.code-wrapper {
  position: relative;
}
.code-wrapper .copy-button {
  position: absolute;
  top: 50%;
  height: 23px;
  right: 20px;
  transform: translateY(-50%);
}
pre {
  background-color: #eeeeee;
  padding: 20px 20px;
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}
.bg-danger {
  background: #c62828 !important;
}
.bg-theme {
  background: #d5d0ff;
}

a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}



 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 255, 255);
  font-size: 62.5%;
  overflow: hidden;
}

body {
  position: relative;
background-color: transparent;
overflow: scroll;
height: 100vh;
}

.app-name {
  font-size: 20px;
  font-weight: 800;
  color: #000;
  text-transform: capitalize;
  padding: 25px 30px;
  text-align: center;
  border-top: 2px solid #0d6efd17;
  background-color: #fff;
}

.app-name-text {
  font-size: 18px;
  margin: 0;
}

.app-name-text span {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: margin 0.25s;
}

.app-name-text span svg {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.app-name-text span:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

.blog-inner:hover .blog-top p span {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

.app-name-text span {
  --stroke: var(--line-active);
}
.doctor-img {
  background: linear-gradient(180deg, #58aefe 0%, #4379c8 100%);
}
.doctor-link svg {
  --stroke: #4379c8;
}
.doctor-link:hover svg {
  --stroke: #4379c8;
}

ul.floatingBoxes {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: -11111;
}

ul.floatingBoxes li {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #e5e8ff;
  opacity: 0.8;
  bottom:-40px;
  animation: anim 25s linear infinite;
}

ul.floatingBoxes li:nth-child(1) {
  width: 10rem;
  height: 10rem;
  left: 10%;
  animation-delay: 1s;
  animation-duration: 15s;
}

ul.floatingBoxes li:nth-child(2) {
  width: 3.5rem;
  height: 3.5rem;
  left: 20%;
  animation-delay: 4s;
  animation-duration: 15s;
}

ul.floatingBoxes li:nth-child(3) {
  width: 5rem;
  height: 5rem;
  left: 28%;
  animation-delay: 3s;
  animation-duration: 12s;
}

ul.floatingBoxes li:nth-child(4) {
  width: 4.5rem;
  height: 4.5rem;
  left: 35%;
  animation-delay: 7s;
  animation-duration: 10s;
}

ul.floatingBoxes li:nth-child(5) {
  width: 6.5rem;
  height: 6.5rem;
  left: 43%;
  animation-delay: 1s;
  animation-duration: 9s;
}

ul.floatingBoxes li:nth-child(6) {
  width: 10rem;
  height: 10rem;
  left: 50%;
  animation-delay: 0s;
  animation-duration: 8s;
}

ul.floatingBoxes li:nth-child(7) {
  width: 7rem;
  height: 7rem;
  left: 60%;
  animation-delay: 3s;
  animation-duration: 13s;
}

ul.floatingBoxes li:nth-child(8) {
  width: 6rem;
  height: 6rem;
  left: 70%;
  animation-delay: 1s;
  animation-duration: 20s;
}

ul.floatingBoxes li:nth-child(9) {
  width: 7.5rem;
  height: 7.5rem;
  left: 77%;
  animation-delay: 5s;
  animation-duration: 16s;
}

ul.floatingBoxes li:nth-child(10) {
  width: 9rem;
  height: 9rem;
  left: 85%;
  animation-delay: 3s;
  animation-duration: 19s;
}

.blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  grid-auto-rows: minmax(50px, auto);
  width: 100%;
}
.blog-inner {
  z-index: 111;
  display: inline-block;
  width: 100%;
  text-align: left;
  height: 100%;
  box-shadow: 0px 9px 30px -10px #e9f7ff;

  border-radius: 30px;
  border: 2px solid #0d6efd17;
  overflow: hidden;
  transition: 0.3s all ease-in-out !important;
}

.blog-top-img {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}


.image-container {
  overflow: hidden;
  position: relative;
}

.image-container:hover .zoom-image {
  transform: scale(1.1); }

.zoom-image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.blog-inner:hover img.mask {
  transform: scale(1.2);
}

.shortzz-img {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

}

.cutfx-img {
background-image: linear-gradient(180deg, #43e97b 0%, #38f9d7 100%);

}

.orange-img {
  background-image: linear-gradient(180deg, #7028e4 0%, #e5b2ca 100%);
}

@keyframes anim {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 0;
    border-radius: 20%;
  }
  100% {
    transform: translateY(-125rem) rotate(1360deg);
    opacity: 1;
    border-radius: 20%;
  }
}

a {
  color: #000;
  text-decoration: none;
}
